.filterList {
	min-width: 200px;
	position: absolute;
	background-color: white;
	padding-right: 2rem;
}

.filterList .customizable {
	position: relative;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--primary-color);
	font-size: 0.875rem;
}

@media (width > 40rem) {
	.filterList {
		position: static;
		padding-right: 0;
		flex: 30;
	}
	.filterList .customizable {
		font-size: 1rem;
	}
}

@media (width > 40rem) {
	.filterList .customizable {
		font-size: 1.25rem;
	}
}
