@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #252020;
}
/* Basic styles for the checkbox */
.custom-checkbox {
  appearance: none;
  position: relative;
  border: 0.75px solid black;
  height: 1.125rem;
  width: 1.125rem;
}

/* Custom checkmark using a pseudo-element */
.custom-checkbox:checked::after {
  position: absolute;
  display: block;
  content: "";
  height: 0.5rem;
  width: 1rem;
  left: 0;
  top: 0.2rem;
  border: 2px solid black;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
}

@media screen and (min-widht: 640px) {
  .custom-checkbox:checked:after {
    top: 5px;
  }
}
@font-face {
  font-family: "Simplon";
  font-weight: 700;
  src: url("/fonts/SimplonNorm-Bold-WebTrial.woff") format("woff");
}

@font-face {
  font-family: "Simplon";
  font-weight: 400;
  src: url("/fonts/SimplonNorm-Regular-WebTrial.woff") format("woff");
}

html {
  font-family: "Simplon", sans-serif;
}

.toggle-icon {
  transform: rotate(90deg);
}

.rotated-icon {
  transform: rotate(270deg);
}
